.box:after {
    content: "Hello World";
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.box {
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inconsolata", monospace;
    font-size: 28px;
    border: 1px solid #c39f76;
    box-sizing: border-box;
}
