.box:before {
    content: "Hello" "\A" "World";
    white-space: pre-wrap;
    text-align: center;
    margin-top: 500px;
}

.box {
    font-size: 2em;
    text-align: center;
    margin-top: 500px;
}
