/*
GLOBAL styles
*/

p {
    font-size: 16px;
    word-spacing: 1px;
    margin-bottom: 10px;
}

hr {
    border-bottom: 1px solid #eaecf0;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 18px;
    font-weight: 100;
}

h5 > em {
    font-size: 18px;
}

h6 {
    font-size: 14px;
    color: #3366cb;
    background-color: #ccdeff;
    margin-top: 6px;
    padding: 5px 0;
    border-top: 1px solid #a3a9b1;
}

a:link {
    font-size: 16px;
    color: #3366cb;
    text-decoration: none;
}

blockquote {
    text-indent: 40px;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

figure {
    display: inline-block;
    margin: 0;
}

strong,
em {
    font-size: 16px;
}

a:visited {
    font-size: 16px;
    color: #6a60b0;
}

a:hover {
    text-decoration: underline;
    font-size: 16px;
}

/*
 * Sidebar styles
 */
sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 300px;
    background-color: white;
}

#sidebar-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #eaecf0;
}

#sidebar-header > h4 {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}

#hide-btn {
    background-color: #eaecf0;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 0 6px;
}

sidebar > #link-ography > ul > li > a {
    font-size: 14px;
}

/*
 * Article styles
 */
article {
    display: inline-block;
    height: 100px;
    width: calc(100% - 600px);
}

article > h1 {
    display: block;
    text-transform: capitalize;
    font-size: 30px;
}

#article-talk,
#read-edit {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#read-edit {
    float: right;
}

#article-talk > a,
#read-edit > a {
    padding-right: 10px;
    font-size: 14px;
}

#wiki-byline {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

#main-article {
    display: inline-block;
    width: calc(100% - 325px);
}

#overview {
    display: inline-block;
    vertical-align: top;
    width: 325px;
    background-color: #f8f9fa;
    border: 1px solid #a3a9b1;
    padding: 5px 0;
    text-align: center;
}

#flags,
#anthem {
    background-color: inherit;
    padding: 8px 0;
    border-top: 1px solid #a3a9b1;
}

#flags > figure > figcaption > a {
    font-size: 14px;
}

#flags > figure {
    margin-right: 30px;
    margin-left: 15px;
}

#anthem > p,
#anthem > p > strong {
    font-size: 14px;
}

/*
 * Options styles
 */
options {
    vertical-align: top;
    display: inline-block;
    height: 100px;
    width: 300px;
    background-color: green;
    padding-left: 20px;
}

#options-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #eaecf0;
}

#options-header > h4 {
    display: inline-block;
    font-size: 14px;
    padding-right: 12px;
}

fieldset {
    border: none;
}

legend {
    display: block;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eaecf0;
}

label {
    font-size: 14px;
}
