/*
Global
*/

* {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    font-family: serif;
}

html {
    background-color: #f8f9fa;
}

body {
    max-width: 1600px;
    background-color: #fff;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #3366cb;
}

/*
Hamburger and Logo
*/
h1 {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    /*letter-spacing: 0.1cap;*/
    display: inline-block;
}

.big-letter {
    font-size: 24px;
}

.header-std {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    height: 80px;
    width: 300px;
    border: 1px solid green;
}

#logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

#hamburger {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 20px;
}

#wiki-title,
#logo-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

#logo-text p {
    font-size: 13px;
}

#wiki-title {
    margin-top: -5px;
}

/*
Search Bar
*/

#search {
    width: 510px;
    padding-top: 15px;
    padding-left: 22px;
}

input[type="text"] {
    text-align: right;
    font-size: 16px;
    padding-right: 255px;
    padding-top: 1px;
    display: inline-block;
    width: 85%;
    height: 30px;
    background-image: url("images/magnifying-glass.svg");
    background-repeat: no-repeat;
    border: 1px solid#72777D;
}

#search-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    padding: 5px 9px 9px 9px;
    margin-left: -5px;
    background-color: #f8f9fa;
    border: 1px solid #72777d;
}

#search-icon,
#spectacles-icon {
    display: none;
}

@media screen and (max-width: 1100px) {
    #search {
        width: calc(100% - 580px);
        padding-right: 0;
        text-align: right;
    }
    #search-bar,
    #search-btn {
        display: none;
    }
    #search-icon,
    #spectacles-icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }
    #search-icon {
        margin-top: 8px;
        margin-right: 20px;
    }
}

/*
Header Links
*/
#header-links-box {
    width: calc(100% - 810px);
    min-width: 280px;
    text-align: right;
    padding-top: 23px;
    padding-right: 54px;
}
#header-links {
    text-align: right;
}

#header-links > li {
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

#header-links > li > a {
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    #header-links-box {
        width: 280px;
        font-size: 12px;
    }
}
