/*
Global
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

html {
    background-color: #f8f9fa;
}

body {
    max-width: 1600px;
    background-color: #fff;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #3366cb;
}

/*
Hamburger and Logo
*/
h1 {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    /*letter-spacing: 0.1cap;*/
    display: inline-block;
}

.big-letter {
    font-size: 24px;
}

.header-std {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    height: 80px;
    width: 300px;
}

#logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

#hamburger {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 20px;
}

#wiki-title,
#logo-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

#logo-text p {
    font-size: 13px;
}

#wiki-title {
    margin-top: -5px;
}

/*
Search Bar
*/

#search {
    width: 520px;
    padding-top: 15px;
    padding-left: 9px;
}

input[type="text"] {
    text-align: right;
    font-size: 16px;
    padding-right: 220px;
    padding-top: 1px;
    display: inline-block;
    width: 85%;
    height: 35px;
    background-image: url("images/magnifying-glass.svg");
    background-repeat: no-repeat;
    border: 1px solid#72777D;
}

#search-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 7px 9px 9px 9px;
    margin-left: -5px;
    background-color: #f8f9fa;
    border: 1px solid #72777d;
}

/*
Header Links
*/
#header-links-box {
    width: calc(100% - 820px);
    text-align: right;
    padding-top: 23px;
    padding-left: 39px;
}
#header-links {
    text-align: right;
}
#header-links > li {
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
